# Documentation & internal notes
Details.md
CICD.md

# Dependencies
node_modules/
Frontend/node_modules/

# Production Build output
dist/
Frontend/dist/

# Environment files
.env
.env.local
.env.*.local

# Vercel & IDE
.vercel/
.DS_Store
Thumbs.db
